.block {
    width: 25px;
    height: 25px;
    border-bottom: 1px solid #98a3f7;
    border-right: 1px solid #98a3f7;
    background-color: skyblue;
}

.space {
    width:25px;
    height:25px;
    border-bottom:1px solid #98a3f7;
    border-right:1px solid #98a3f7;                
    background-color:white;
}